<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanjeon <strong>ADMIN PDC</strong></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="EstilospagePrincipal.css">
    <link rel="stylesheet" href="Scripts.js">
    <link rel="stylesheet" href="Estilo_Cartas_Servicios.css">
    <link rel="stylesheet" href="Estilo_Productos_Des.css">
    <link rel="stylesheet" href="EstiiloSliderProvedores.css">
    <link rel="stylesheet" href="EstiloTestimonios.css">
         <link rel="stylesheet" href="EstiloListaAsesores.css">

</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


    <div>
        <nav class="navbar">

            <div class="container-fluid justify-content-between">
                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/pdcadmin">
                            <img src="Imagenes/logo.png" alt="Logo" width="50" height="30"
                                class="d-inline-block align-text-top">
                            Wanjeon <strong>ADMIN PDC</strong>
                        </a>
                </nav>

                <nav class="navbar navbar-expand ">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/index">Usuarios</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="/controltrat">Tratamientos</a>
                                </li>
                                
                                 <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="/controlprod">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="#">Backups</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>



                <div class="dropdown">
                    <button class="btn dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">

                        <img src="Imagenes/usuarionuevo.png" alt="" id="imagen_usuario">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile">Mi cuenta</a></li>
                        <li><a class="dropdown-item" href="/tuscitas">Citas Programadas</a></li>
                        <li><a class="dropdown-item" href="/login"> Inicio Sesion</a></li>
                        <li><a class="dropdown-item" href="logout"> Cerrar Sesion</a></li>

                    </ul>
                    <a href="/Formulario">
                        <button class="btn " type="button">Realiza tu cita!! </button>
                    </a>
                    
                </div>




            </div>



        </nav>

    </div>
    

    <section>
        <div>
            <h2 class="Titulo_Catalogo">Opciones de control disponibles</h2>
              
        </div>

        <div class="Contenedor_Catalogos">
            
            <div class="tratamientos">
                <h3 class="Nombre_tratamiento">Usuarios</h3>
                <div class="AsesorTotal">


                    <div class="Img_Asesor">

                        <img src="../pdc_asesores/PDC_clientes.jpg" class="card-img-top" id="Img_Asesorpersonla"
                            alt="...">
                    </div>

                    <div class="IMG_AND_TEX">
                        <p>Control de los usuarios del sistema </p>
                        
                        <a href="/index"><button class="boton_Solit">Acceder</button></a>


                    </div>

                </div>
                
                <h3 class="Nombre_tratamiento">Tratamientos</h3>
                <div class="AsesorTotal">


                    <div class="Img_Asesor">

                        <img src="../pdc_admin/PDC_tratamientos.png" class="card-img-top" id="Img_Asesorpersonla"
                            alt="...">
                    </div>

                    <div class="IMG_AND_TEX">
                        <p>Control de datos de los tratamientos </p>
                        
                        <a href="/controltrat"><button class="boton_Solit">Acceder</button></a>


                    </div>

                </div>

                <h3 class="Nombre_tratamiento">Productos</h3>
                <div class="AsesorTotal">


                    <div class="Img_Asesor">

                        <img src="../pdc_admin/PDC_productos.png" class="card-img-top" id="Img_Asesorpersonla"
                            alt="...">
                    </div>

                    <div class="IMG_AND_TEX">
                        <p>Revisa, crea, borra o edita la informacion de tus productos </p>
                        
                        <a href="/controlprod"><button class="boton_Solit">Acceder</button></a>


                    </div>

                </div>

                <h3 class="Nombre_tratamiento">Backups</h3>
                <div class="AsesorTotal">


                    <div class="Img_Asesor">

                        <img src="../pdc_admin/PDC_backup.jpeg" class="card-img-top" id="Img_Asesorpersonla"
                            alt="...">
                    </div>

                    <div class="IMG_AND_TEX">
                        <p>Control de Backups </p>
                        
                        <a href="/backupindex"><button class="boton_Solit">Acceder</button></a>


                    </div>

                </div>
            </div>


            
        </div>



    </section>

  


   
   
</body>


</html>