* {

    box-sizing: border-box;




}

#imgpromocion{

    width: auto;
    height: auto;
}
.Titulo_ServicioGeneral{

    text-align: center;
}

.container-fluid {

    height: 60px;

}

.container-fluid {


    height: 30%;
}

.img-fluid_Nosotros {

    width: 300%;
    height: 500px;


}

.card {

    box-shadow: 6px 6px 4px 2px rgb(152, 151, 151);
}

.carouselExampleIndicators {


    width: auto;
    height: auto;
}

.img-fluid_Vision {

    width: 300%;
}


#servicio_Tratamiento {


    background-image: url(Imagenes/Serviciosimg/tratamientos-esteticos.jpg);
    width: 1000px;

}

#card_servicios {


    width: auto;
    padding: 1px;
    padding-top: 20px;


}

.carousel-inner {

    height: 500px;
    display: flex;
}

.logos_Provedores_Eu {
    width: 200px;
    margin-top: 30px;
    height: 100px
}

.logos_Provedores {

    width: 200px;
    height: 120px;
    margin: 10px;


}

.marco {

    width: 50%;

}

#misionimg {


    width: 400px;
}

.imgabout {

    width: 100%;
    display: flex;
}

.About_Container {

    background-color: #fcdfdf;
    display: flex;
}

.About_text {
    text-align: center;


}


.col {

    padding-left: 0px;
    width: 500px;
}

.About_text h2 {

    color: white;

}

.card {

    --bs-card-bg: #ffffff;
    --bs-card-border-color: none;
    --bs-card-color: rgb(36, 35, 35);
    --bs-card-title-color: rgb(0, 0, 0);

}


.servicios {

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;




}

#columnasservices {

    margin: 10px;
    padding: 10px;
}

#containerServices {

    margin-right: auto;
    margin-left: auto;

}

.card-img-top {

    width: 400px;
    height: 200px;
}

.Servicios_General {


    background-color: rgb(255, 255, 255);
}